<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Central.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ncsln.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Ncsln.Properties.Settings.NCInventoryConnectionString" connectionString="Data Source=(Local)\SQLEXPRESS2005;Initial Catalog=NCInventory;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="InventoryEntities-ws" connectionString="metadata=res://*/DBModel.InventortModel.csdl|res://*/DBModel.InventortModel.ssdl|res://*/DBModel.InventortModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);initial catalog=Inventory-ws;Integrated Security=True" providerName="System.Data.EntityClient" />
    <add name="InventoryEntities-om" connectionString="metadata=res://*/DBModel.InventortModel.csdl|res://*/DBModel.InventortModel.ssdl|res://*/DBModel.InventortModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);initial catalog=Inventory-om;Integrated Security=True" providerName="System.Data.EntityClient" />
    <!--<add name="InventoryEntities-oo" connectionString="metadata=res://*/DBModel.InventortModel.csdl|res://*/DBModel.InventortModel.ssdl|res://*/DBModel.InventortModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);initial catalog=Inventory-oo;Integrated Security=True" providerName="System.Data.EntityClient"/>-->
    <!--<add name="InventoryEntities-oe" connectionString="metadata=res://*/DBModel.InventortModel.csdl|res://*/DBModel.InventortModel.ssdl|res://*/DBModel.InventortModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);initial catalog=Inventory-oe;Integrated Security=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />-->
    <add name="InventoryEntities-oe" connectionString="metadata=res://*/DBModel.InventortModel.csdl|res://*/DBModel.InventortModel.ssdl|res://*/DBModel.InventortModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=202.165.249.169;initial catalog=waleedinventory-one;user id=cruxtech;password=crux123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InventoryEntities-oo" connectionString="metadata=res://*/DBModel.InventortModel.csdl|res://*/DBModel.InventortModel.ssdl|res://*/DBModel.InventortModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=202.165.249.169;initial catalog=waleedinventory-two;user id=cruxtech;password=crux123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InventoryEntities-hbc" connectionString="metadata=res://*/DBModel.InventortModel.csdl|res://*/DBModel.InventortModel.ssdl|res://*/DBModel.InventortModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=202.165.249.169;initial catalog=waleedinventoryServer;user id=cruxtech;password=crux123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <applicationSettings>
    <Central.Properties.Settings>
      <setting name="dataSource" serializeAs="String">
        <value>Data Source=IRFAN-PC\SQLEXPRESS2005;Initial Catalog=NTHospital;Integrated Security=True</value>
      </setting>
      <setting name="user" serializeAs="String">
        <value />
      </setting>
    </Central.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Ncsln.Properties.Settings>
      <setting name="constring" serializeAs="String">
        <value />
      </setting>
      <setting name="user" serializeAs="String">
        <value />
      </setting>
      <setting name="AppKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ClientConString" serializeAs="String">
        <value />
      </setting>
      <setting name="ClientConStringName" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="InvoiceCode" serializeAs="String">
        <value />
      </setting>
      <setting name="BranchId" serializeAs="String">
        <value />
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultEntry" serializeAs="String">
        <value />
      </setting>
      <setting name="Group_Id" serializeAs="String">
        <value />
      </setting>
    </Ncsln.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
